In [66]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import requests
from bs4 import BeautifulSoup
%matplotlib inline

In [67]:
assetNames = ['AUL','CAN','FRA','GER','JAP', 'USA']
fileNames = ['STW.AX','^GSPTSE' ,'^FCHI','^GDAXI','^N225','^GSPC']
prices = pd.read_csv('price.csv', index_col=0)

In [68]:
# Webページを取得して解析する
newDatas = {}
index = 0
for fileName in fileNames:
        load_url = "https://finance.yahoo.com/quote/" + fileName + "?p="+ fileName + "&.tsrc=fin-srch"
        html = requests.get(load_url)
        soup = BeautifulSoup(html.content, "html.parser")
        newDatas[assetNames[index]] = soup.find("span", attrs={'data-reactid': '42', 'class': 'Trsdu(0.3s)'}).get_text().replace(',', '')
        index += 1

In [71]:
# csvへ保存
index = 0
for newData in newDatas.values():
        prices.loc[assetNames[index], "2020-08-22"] = newData
        index += 1
prices.to_csv('price.csv')

,1980-01-02,1980-01-03,1980-01-04,1980-01-07,1980-01-08,1980-01-09,1980-01-10,1980-01-11,1980-01-14,1980-01-15,...,2020-07-30,2020-07-31,2020-08-03,2020-08-04,2020-08-05,2020-08-06,2020-08-07,2020-08-10,2020-08-11,2020-08-22
AUL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56.049999,55.220001,54.980000,55.939999,55.669998,56.009998,55.700001,56.669998,57.189999,57.19
CAN,1806.099976,1789.400024,1795.199951,1814.099976,1832.599976,1854.000000,1884.099976,1898.699951,1922.199951,1944.500000,...,16299.299805,16169.200195,NaN,16368.000000,16501.599609,16579.099609,16544.500000,16605.500000,16625.689453,16497.01
FRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4852.939941,4783.689941,4875.930176,4889.520020,4933.339844,4885.129883,4889.520020,4909.509766,5027.990234,5027.99
GER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12379.650391,12313.360352,12646.980469,12600.870117,12660.250000,12591.679688,12674.879883,12687.530273,12946.889648,12946.89
JAP,NaN,NaN,6560.160156,6552.649902,6563.279785,6591.830078,6594.009766,6615.509766,6659.549805,NaN,...,22339.230469,21710.000000,22195.380859,22573.660156,22514.849609,22418.150391,22329.939453,NaN,22750.240234,22750.24
USA,105.760002,105.220001,106.519997,106.809998,108.949997,109.050003,109.889999,109.919998,110.379997,111.139999,...,3246.219971,3271.120117,3294.610107,3306.510010,3327.770020,3349.159912,3351.280029,3360.469971,NaN,3333.69

'3333.69'

111122334